.root {
  appearance: none;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: all .25s ease;
  font-size: 14px;
}

.default {
  composes: root;
  background: #fff;
  color: #272727;
  border: 1px #a9a9a9 solid;
}

.default:hover {
  background: #ebebe4;
}
