.root {
  display: block;
  width: 100%;
  min-width: 420px;
  margin: auto;
}

.wrapper {
  max-width: 1450px;
  min-width: 420px;
  width: 100%;
  margin: 0 auto;
}

.code {
  white-space: pre-wrap;
}

.steps {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.navigation {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 15px 0;
  text-align: center;
}

.success {
  font-weight: 600;
  color: #32cd32;
}

.warning {
  font-weight: 600;
  color: #f4a109;
}

.error {
  font-weight: 600;
  color: #ec1919;
}
