body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.header {
  display: block;
  width: 100%;
  min-width: 420px;
  height: 70px;
  color: #fff;
  background-color: #000;
  display: flex;
  align-items: center;
}

.header .header__brand {
  padding: 0 15px;
}

.wrapper {
  max-width: 1450px;
  min-width: 420px;
  width: 100%;
  margin: 0 auto;
}

.name {
  margin: 0;
  padding: 0;
}
